* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(159,197,248);
    color: white;
    padding: 20px;
    width: 100%;
}
#cities {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
#city {
    display: flex;
    width: 80%;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 20px;
}
#weather_container {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}
.weather {
    background-color: rgb(238,238,238);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.weather h2 {
    margin: 5px;
}
.weather_img {
    border-radius: 50%;
    width: 50%;
    margin: 25px;
}
.temp {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
}
.high {
    color: red;
}
.cold {
    color: Blue;
}